<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'HomePage' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card routerLink="/about" style="margin-top: 50%" class="welcome-card">
        <ion-card-header>
          <ion-card-title style="text-align: center">{{ 'ServicesPage' | translate }}</ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title style="text-align: center">{{ 'RequestPage' | translate }}</ion-card-title>
          </ion-card-header>
        </ion-card>

</ion-content>
